@import 'reset';

$muted-blue: #369;

// Theme colors
$primary: #ab47bc; // purple plum
$primary-light: #df78ef;
$primary-dark: #790e8b;
$secondary: #7cb342; // bud green
$secondary-light: #aee571;
$secondary-dark: #4b830d;

/* Coolors Exported Palette - coolors.co/c66549-7cb342-ab47bc-eaaf0f-444444 */

$color_orange: #c66549; // cedar chest
$color_yellow: #eaaf0f; // gamboge
$color_dkgray: #444444; // arsenic

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* ----------------------------- LearnWitch CSS ----------------------------- */

a {
  color: $muted-blue;
  text-decoration: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

img {
  max-width: 100%;
}

/* ---------------------------- Component: Main ---------------------------- */

.main {
  padding: 10px;
}

.main-top-area {
  background-color: $secondary;
  padding: 10px;
}

.main-nav {
  position: fixed;
  right: 30px;
  top: 30px;

  a {
    display: inline-block;
    margin-left: 20px;
  }
}

.nameplate {
  font-size: 200%;
}

/* -------------------------- Component: EditNewt -------------------------- */

.edit-newt h2 {
  font-size: 1.5em;
  margin: 1.5rem 0 0.5rem 0;
}
